html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(11, 11, 11);
    
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.logoSalo {
  height: 40px;
  margin-bottom: -6px;
}

.titulo {
  font-size: 40px;
  margin: 0;
}

.titlehometech {
  font-size: 12px;
  margin: 0;
  position: relative;
  top: 10px
}

.todolist {
  margin: 80px;
  text-align: center;
}

.titletodolist {
  color: rgb(237, 237, 237);
  letter-spacing: 0.08em;
  font-weight: 400;
  height: 0px;
  top: 10px;
  font-size: 60px;
  
}

.linha {
  justify-content: center;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
}

h2, h3, p {
    font-weight: 500;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(17, 17, 17);
    color: white;
    border: solid 2px rgba(240, 248, 255, 0.627);
    border-right-color: solid rgb(0, 0, 0);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 1px solid rgb(255, 255, 255, 0.627);
    width: 220px;
    padding: 10px;
    top: 10px;
    outline: none;
}

.card {
  border: 2px solid rgba(204, 204, 204, 0.627);
  width: 600px;
  height: 62px;
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: column;
}

.grade {
  display: flex;
  justify-content: center;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(223, 223, 223);
    background-color: rgb(17, 17, 17);
    transition: 0.3s;
    border: solid 2px rgba(255, 255, 255, 0.627);
}